Please update your password using this form: 
<p>
<% if (pwMsg) {%>
<%= pwMsg%>
<% } %>
<p>
<form action = "/updatePassword" method = "post">
<p>
Old Password: <input name = "oldPassword" type="password" style="width: 300px;">
<p>
<p>
New Password: <input name = "newPassword" type="password" style="width: 300px;">
<p>
<input type = "submit" value = "Update">
</form>
<p>
<a href="/viewProfile"> Back </a>